{
	"extends": "stylelint-config-standard",
	"rules": {
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"extends"
				]
			}
		],
		"block-no-empty": null,
		"indentation": "tab",
		"unit-whitelist": [
			"em",
			"rem",
			"s",
			"px",
			"vh",
			"vw",
			"%"
		],
		"selector-nested-pattern": "^(?!&__|&--|&-|&_).*",
		"no-descending-specificity": null,
		"selector-pseudo-element-colon-notation": single
	}
}
