{
	"extends": "stylelint-config-standard",
	"rules": {
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"extends"
				]
			}
		],
		"block-no-empty": null,
		"indentation": "tab",
		"unit-whitelist": [
			"em",
			"rem",
			"s",
			"px",
			"vh",
			"%"
		]
	}
}
