@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
	--color-primary: #b73324;
	--color-secondary: #e9a246;
	--color-dark: #202029;
}

body,
html,
input,
button {
	font-family: 'Montserrat', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	height: 100vh;
}

.left {
	flex-basis: 50%;
	background-image: url(../assets/garage-door.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#logo {
	padding: 5px 10px;
}

#logo h1 {
	border: solid 1px #202029;
	width: min-content;
	padding: 5px;
}

.right {
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav {
	position: absolute;
	top: 10px;
	right: 10px;
}

nav ul {
	display: flex;
	justify-content: flex-end;
}

li {
	list-style: none;
	margin-right: 10px;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.main-titles {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
}

.step-one,
.step-two,
.step-three {
	margin: 10px 20px;
}

.separation img {
	display: block;
	position: relative;
	z-index: -1;
	top: 100px;
	height: 250px;
	width: 100%;
	margin: 0;
}

.about-us {
	background-color: #fff6d5;
	padding: 0 0 100px;
	display: flex;
	justify-content: space-around;
	overflow: hidden;
}

.clients-reviews {
	position: relative;
}

.clients-reviews img {
	display: block;
	max-width: 500px;
}

.clients-reviews .review {
	position: absolute;
	top: 60%;
	right: -10%;
	background: var(--color-secondary);
	padding: 20px;
	font-size: 18px;
}

.client-name {
	font-size: 22px;
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	right: 0.5em;
	bottom: 0.5em;
	color: var(--color-primary);
}

.brand-info {
	text-align: right;
	font-size: 20px;
	flex-basis: 40%;
}

.brand-info p {
	position: relative;
	z-index: 1;
}

.brand-info .main-titles {
	margin: 0 0 20px;
	position: relative;
	z-index: 1;
}

.brand-info .main-titles::before {
	content: '';
	position: absolute;
	top: 0.7em;
	right: -20%;
	height: 2em;
	width: 10em;
	z-index: -2;
	background-color: var(--color-secondary);
}

.brand-info .description {
	margin: 20px 0;
}

.cta-bottom {
	background-color: var(--color-dark);
	padding: 100px 0;
	color: white;
	font-weight: bold;
	position: relative;
}

.cta-bottom::after {
	content: '';
	background: url(../assets/parkingbackground.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 1;
}

.cta-bottom h2 {
	line-height: 1.5em;
	text-align: center;
}

.cta-bottom h3 {
	font-size: 20px;
	padding: 10px 0 30px;
	color: #fff6d5;
	font-weight: lighter;
}

.cta-bottom > .container {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2;
	margin: 0 auto;
}

.button-cta {
	background: var(--color-primary);
	border: 0;
	padding: 20px;
	font-weight: 400;
	font-size: 16px;
	color: white;
	cursor: pointer;
}

#info {
	min-height: 600px;
	display: flex;
	align-items: center;
}

#info .main-titles {
	flex-basis: 30%;
	position: relative;
	padding: 0 0 0 50px;
}

#info .main-titles::before {
	content: '';
	position: absolute;
	top: 0.7em;
	left: 0;
	height: 6em;
	width: 10em;
	z-index: -1;
	background-color: var(--color-secondary);
}

#info .how-to {
	display: flex;
	flex-wrap: nowrap;
	flex-basis: 70%;
}

#info h3 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
}

#info img {
	display: block;
	margin: 0 auto;
	max-width: 200px;
}

footer {
	height: 300px;
}

footer a {
	color: var(--color-primary);
}

footer ul {
	display: flex;
	justify-content: center;
}

.footer-info {
	height: 200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.copyright h3 {
	font-size: 30px;
}

@media screen and (max-width: 1200px) {
	#info .how-to {
		flex-direction: column;
	}
}

@media screen and (max-width: 1046px) {
	#info .how-to {
		flex-basis: 50%;
	}

	#info .main-titles {
		flex-basis: 50%;
	}

	.about-us {
		flex-direction: column-reverse;
		align-items: center;
		padding: 0 20px 100px;
	}

	.clients-reviews {
		margin-top: 40px;
	}
}

@media screen and (max-width: 840px) {
	#info {
		flex-direction: column;
	}

	#info .how-to {
		flex-basis: 100%;
	}

	#info .main-titles {
		flex-basis: 100%;
		margin: 40px 0 20px;
	}

	#info .main-titles::before {
		height: 3em;
	}
}
