@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
	--color-primary: #b73324;
	--color-secondary: #e9a246;
	--color-dark: #202029;
}

body,
html,
input {
	font-family: 'Montserrat', sans-serif;
}

header {
	/* background-image: url(../assets/parkingbackground.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: white; */

	display: flex;
	justify-content: space-between;
	height: 100vh;
}

.left {
	flex-basis: 50%;
	background-image: url(../assets/garage-door.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#logo {
	padding: 5px 10px;
}

.right {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;

	/* justify-content: center;
    align-items: center; */
}

nav ul {
	display: flex;
	justify-content: flex-end;
}

li {
	list-style: none;
	margin-right: 10px;
}

form {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: self-start;
	justify-content: space-around;
	height: 150px;
	margin-top: 10rem;
}

input[type='text'] {
	width: 300px;
	padding-left: 5px;
}

input[type='button'] {
	background: white;
	border: solid 2px black;
	padding: 0 15px;
	box-shadow: 5px 5px 5px black;
	font-size: 1rem;
	cursor: pointer;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.main-titles {
	text-align: center;
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	padding: 20px;
}

#info > .container {
	display: flex;
	flex-wrap: nowrap;
	margin: 30px auto;
}

#info h3 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
}

#info img {
	display: block;
	margin: 0 auto;
	max-width: 200px;
}

.step-one,
.step-two,
.step-three {
	margin: 10px 20px;
}

.about-us {
	background-color: #fff6d5;
	padding: 0 0 100px;
}

.separation img {
	display: block;
	position: relative;
	z-index: -1;
	top: 100px;
	height: 250px;
	width: 100%;
	margin: 0;
}

.cta-bottom {
	background-color: var(--color-dark);
	padding: 100px 0;
	color: white;
	font-weight: bold;
	position: relative;
}

.cta-bottom::after {
	content: '';
	background: url(../assets/parkingbackground.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 1;
}

.cta-bottom h2 {
	line-height: 1.5em;
}

.cta-bottom h3 {
	font-size: 20px;
	padding: 0 0 20px;
	color: var(--color-secondary);
}

.cta-bottom > .container {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2;
}

.button-cta {
	background: var(--color-primary);
	border: 0;
	padding: 20px;
	font-weight: 400;
	font-size: 16px;
	color: white;
	font-family: Montserrat, sans-serif;
	cursor: pointer;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}

footer a {
	color: var(--color-primary);
}

footer ul {
	display: flex;
	justify-content: center;
}
