@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,900&display=swap');

:root {
	--color-primary: #b32a1d;
	--color-secondary: #f1a132;
	--color-light: #ffedbe;
	--color-dark: #593c44;
}

body,
button {
	font-family: 'Montserrat', sans-serif;
}

a {
	color: var(--color-primary);
	text-decoration: none;

	&:hover {
		color: #6b221b;
	}
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 30px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.3);

	ul {
		display: none;
	}
}

li {
	margin-right: 20px;
}

#logo {
	h1 {
		font-size: 24px;
		font-weight: 900;
	}
}

.header-content {
	height: calc(100vh - 70px);
}

.right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.description {
		max-width: 400px;
		align-self: center;
		text-align: center;

		h3 {
			color: var(--color-dark);
			font-size: 32px;
			text-transform: uppercase;
			font-weight: 900;
			line-height: 38px;
			padding: 10px 0 20px;
		}

		.subtitle {
			font-size: 20px;
		}

		#locations,
		.locations {
			font-size: 26px;
			color: var(--color-secondary);
		}
	}

	p {
		font-size: 16px;
		margin: 10px 0;
		font-weight: 400;
		text-transform: uppercase;
	}

	.cta-header {
		padding: 20px;
		text-align: center;
		width: 80%;
		margin: 40px 0;
		max-width: 400px;

		p {
			color: #8b8b8b;
			padding: 10px 0 0;
		}
	}
}

.main-titles {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
}

.info {
	.main-titles {
		position: relative;
		padding-left: 50px;

		&:before {
			content: '';
			position: absolute;
			/* top: 0.7em; */
			left: 0;
			/* height: 6em; */
			height: 4em;
			width: 10em;
			z-index: -1;
			background-color: var(--color-secondary);
		}
	}

	.how-to {
		text-align: center;
	}

	h3 {
		font-size: 18px;
		font-weight: bold;
		padding: 20px 0;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 100px;
	}
}

.step-one,
.step-two,
.step-three {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-top: 3px solid var(--color-secondary);
	transition: all 0.3s ease-in-out;

	&:hover {
		box-shadow: 0 5px 30px -5px #aaa;
	}
}


.clients-reviews {
	position: relative;
	width: 500px;
	height: 646px;

	img {
		display: block;
		max-width: 500px;
		border-radius: 2px;
	}

	.review-text {
		position: absolute;
		top: 60%;
		right: -10%;
		background: white;
		border-radius: 2px;
		padding: 20px;
		margin: 5px;
		font-size: 18px;
		box-shadow: 0 5px 20px -5px black;
	}

	.client-name {
		font-size: 22px;
		display: inline-block;
		font-weight: bold;
		text-transform: uppercase;
		position: absolute;
		right: 0.5em;
		bottom: 0.5em;
		color: var(--color-dark);
	}

	.review {
		opacity: 0;
		transition: all 1s;
		position: absolute;
		z-index: 0;

		&.active {
			opacity: 1;
			z-index: 2;
		}
	}
}

.reviews-control {
	text-align: center;
	margin: 2px 0;

	.button {
		font-weight: 200;
		display: inline-block;
		padding: 4px 4px 6px;
		border: 1px solid #999;
		border-radius: 50%;
		cursor: pointer;
		background: #ddd;

		&.selected {
			background: #666;
		}
	}
}

.brand-info {
	text-align: right;
	font-size: 20px;
	flex-basis: 40%;

	p {
		position: relative;
		z-index: 1;
	}

	.main-titles {
		margin: 0 0 20px;
		position: relative;
		z-index: 1;

		&:before {
			content: '';
			position: absolute;
			top: 0.7em;
			right: -20%;
			height: 2em;
			width: 10em;
			z-index: -2;
			background-color: var(--color-secondary);
		}
	}

	.description {
		margin: 20px 0;
	}
}

.separation img {
	display: block;
	position: relative;
	top: 80px;
	z-index: -1;
	height: 150px;
	width: 100%;
	margin: 0;
}

.cta-bottom {
	background-color: var(--color-dark);
	padding: 100px 0;
	color: white;
	font-weight: bold;
	position: relative;

	&:after {
		content: '';
		background: url(../assets/parkingbackground.jpg);
		background-position: center center;
		background-size: cover;
		background-attachment: fixed;
		opacity: 0.4;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: 1;
	}

	h2 {
		line-height: 1.5em;
		text-align: center;
	}

	h3 {
		font-size: 20px;
		padding: 30px;
		color: #fff6d5;
		font-weight: lighter;
		text-align: center;
	}
}

.cta-bottom > .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2;
	margin: 0 auto;
}

.button-cta {
	background: var(--color-primary);
	border: 2px solid #751d13;
	padding: 20px;
	font-weight: 400;
	font-size: 18px;
	color: white;
	cursor: pointer;
	transition: all 0.3s ease-in-out;

	&:hover {
		background: #751d13;
	}
}

.footer {
	height: 300px;
	background: #ececec;

	ul {
		display: flex;
		justify-content: center;
	}

	p {
		text-align: center;
	}
}

.footer-info {
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.copyright h3 {
	font-size: 30px;
}

/* Mobile (landscape orientation)
Tablet */
@media screen and (min-width: 640px) and (orientation: landscape) {
	.header-content {
		display: flex;
		justify-content: space-between;
	}

	.left {
		flex-basis: 50%;
		overflow: hidden;
		background-image: url(../assets/garage-door.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		border-bottom-right-radius: 40%;
	}

	.footer-info {
		flex-direction: row;
	}
}

@media screen and (min-width: 640px) {
	.info .main-titles {
		padding: 0 0 50px 50px;
	}

	.how-to {
		display: flex;
		flex-wrap: nowrap;
	}
}

/* Desktop */
@media screen and (min-width: 1200px) {
	.menu-logo {
		display: none;
	}

	.navbar ul {
		display: flex;
		justify-content: flex-end;
	}

	.info {
		display: flex;
		align-items: center;
	}
}