@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body, html {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
  	margin: 0;
}

header {
	background-image: url(https://cdn.discordapp.com/attachments/699558386391318557/699583924770439188/parking.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: white;
}

nav ul {
	display: flex;
	justify-content: flex-end;
}

li {
	list-style: none;
	margin: 0 10px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: self-start;
	justify-content: space-around;
	height: 150px;

}

footer ul {
	display: flex;
	justify-content: center;
}