@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
	--color-primary: #b73324;
	--color-secondary: #e9a246;
	--color-dark: #202029;
}

body,
html,
input {
	font-family: 'Montserrat', sans-serif;
}

header {
	/* background-image: url(../assets/parkingbackground.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: white; */

	display: flex;
	justify-content: space-between;
	height: 100vh;
}

.left {
	flex-basis: 50%;
	background-image: url(../assets/garage-door.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#logo {
	padding: 5px 10px;
}

.right {
	flex-basis: 50%;
	display: flex;
	flex-direction: column;

	/* justify-content: center;
    align-items: center; */
}

nav ul {
	display: flex;
	justify-content: flex-end;
}

li {
	list-style: none;
	margin-right: 10px;
}

form {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: self-start;
	justify-content: space-around;
	height: 150px;
	margin-top: 10rem;
}

input[type='text'] {
	width: 300px;
	padding-left: 5px;
}

input[type='button'] {
	background: white;
	border: solid 2px black;
	padding: 0 15px;
	box-shadow: 5px 5px 5px black;
	font-size: 1rem;
	cursor: pointer;
}

main {
	font-family: 'Montserrat', sans-serif;
}

.main-titles {
	text-transform: uppercase;
	font-size: 36px;
	font-weight: bold;
	padding: 20px;
}

.step-one,
.step-two,
.step-three {
	margin: 10px 20px;
}

.separation img {
	display: block;
	position: relative;
	z-index: -1;
	top: 100px;
	height: 250px;
	width: 100%;
	margin: 0;
}

.about-us {
	background-color: #fff6d5;
	padding: 0 50px 100px;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.clients-reviews {
	flex-basis: 30%;
	border-width: 0 1px 1px 0;
	border-color: var(--color-secondary);
	border-style: solid;
	padding: 20px;
	position: relative;
}

.clients-reviews::before {
	content: '';
	position: absolute;
	top: 2.4em;
	right: 0;
	height: 4em;
	width: 15em;
	z-index: 0;
	background-color: var(--color-secondary);
}

.clients-reviews h2 {
	font-size: 28px;
	text-transform: uppercase;
	text-align: right;
	position: relative;
}

.clients-reviews img {
	display: block;
	position: relative;
	z-index: 1;
	margin: 20px auto;
	width: 150px;
	border-radius: 50%;
	border: 10px solid #fff;
}

.clients-reviews .client-name {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0;
}

.brand {
	width: 320px;
	position: absolute;
	left: calc(50% - 160px);
	padding: 20px;
	box-sizing: border-box;
	background: var(--color-secondary);
	text-align: center;
}

.brand p {
	padding: 20px;
	border-width: 0 1px 1px 0;
	border-color: #fff6d5;
	border-style: solid;
	font-size: 20px;
}

.brand h2 {
	border-width: 1px 0 0 1px;
	border-color: #fff6d5;
	border-style: solid;
	font-size: 46px;
}

.description {
	flex-basis: 30%;
	text-align: right;
	font-size: 20px;
}

.cta-bottom {
	background-color: var(--color-dark);
	padding: 100px 0;
	color: white;
	font-weight: bold;
	position: relative;
}

.cta-bottom::after {
	content: '';
	background: url(../assets/parkingbackground.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: 1;
}

.cta-bottom h2 {
	line-height: 1.5em;
	text-align: center;
}

.cta-bottom h3 {
	font-size: 20px;
	padding: 10px 0 30px;
	color: #fff6d5;
}

.cta-bottom > .container {
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	z-index: 2;
	margin: 0 auto;
}

.button-cta {
	background: var(--color-primary);
	border: 0;
	padding: 20px;
	font-weight: 400;
	font-size: 16px;
	color: white;
	cursor: pointer;
}

#info {
	min-height: 600px;
	display: flex;
	align-items: center;
}

#info .main-titles {
	flex-basis: 30%;
	position: relative;
	padding: 0 0 0 50px;
}

#info .main-titles::before {
	content: '';
	position: absolute;
	top: 0.7em;
	left: 0;
	height: 6em;
	width: 10em;
	z-index: -1;
	background-color: var(--color-secondary);
}

#info .how-to {
	display: flex;
	flex-wrap: nowrap;
	flex-basis: 70%;
}

#info h3 {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
}

#info img {
	display: block;
	margin: 0 auto;
	max-width: 200px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
}

footer a {
	color: var(--color-primary);
}

footer ul {
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 1200px) {
	.about-us {
		flex-direction: column;
		align-items: center;
	}

	.clients-reviews {
		margin: 40px 0;
	}

	.brand {
		position: static;
	}

	.description {
		margin: 20px 0;
	}

	#info .how-to {
		flex-direction: column;
	}
}

@media screen and (max-width: 1046px) {
	#info .how-to {
		flex-basis: 50%;
	}

	#info .main-titles {
		flex-basis: 50%;
	}
}

@media screen and (max-width: 840px) {
	#info {
		flex-direction: column;
	}

	#info .how-to {
		flex-basis: 100%;
	}

	#info .main-titles {
		flex-basis: 100%;
		margin: 40px 0 20px;
	}

	#info .main-titles::before {
		height: 3em;
	}
}
